SISGEGS/GS.SISGEGS.Web/Service References/MenuWCF/MenuWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/MenuWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Menu_CargarInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_CargarInicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Menu_CargarInicioResult" nillable="true" type="q1:ArrayOfMenu_CargarInicioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Menu_ListarResult" nillable="true" type="q2:ArrayOfMenu_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objMenu" nillable="true" type="q3:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>