GS.SISGEGS.Web/Service References/FinanzasWCF/FinanzasWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinanzasWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/FinanzasWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/FinanzasWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/FinanzasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinanzasWCF_ReporteDetracciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ReporteDetracciones" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_ReporteDetracciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReporteDetraccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_Accion_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Accion_Registrar" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_Accion_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Accion_RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_GetDetraccionAccion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetraccionAccion" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_GetDetraccionAccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetraccionAccionResponse" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_GetVoucherDetraccione_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoucherDetraccione" />
  </wsdl:message>
  <wsdl:message name="IFinanzasWCF_GetVoucherDetraccione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoucherDetraccioneResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinanzasWCF">
    <wsdl:operation name="ReporteDetracciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanzasWCF/ReporteDetracciones" message="tns:IFinanzasWCF_ReporteDetracciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanzasWCF/ReporteDetraccionesResponse" message="tns:IFinanzasWCF_ReporteDetracciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Accion_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanzasWCF/Accion_Registrar" message="tns:IFinanzasWCF_Accion_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanzasWCF/Accion_RegistrarResponse" message="tns:IFinanzasWCF_Accion_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetraccionAccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanzasWCF/GetDetraccionAccion" message="tns:IFinanzasWCF_GetDetraccionAccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanzasWCF/GetDetraccionAccionResponse" message="tns:IFinanzasWCF_GetDetraccionAccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoucherDetraccione">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinanzasWCF/GetVoucherDetraccione" message="tns:IFinanzasWCF_GetVoucherDetraccione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinanzasWCF/GetVoucherDetraccioneResponse" message="tns:IFinanzasWCF_GetVoucherDetraccione_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFinanzasWCF" type="tns:IFinanzasWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReporteDetracciones">
      <soap:operation soapAction="http://tempuri.org/IFinanzasWCF/ReporteDetracciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Accion_Registrar">
      <soap:operation soapAction="http://tempuri.org/IFinanzasWCF/Accion_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetraccionAccion">
      <soap:operation soapAction="http://tempuri.org/IFinanzasWCF/GetDetraccionAccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoucherDetraccione">
      <soap:operation soapAction="http://tempuri.org/IFinanzasWCF/GetVoucherDetraccione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanzasWCF">
    <wsdl:port name="BasicHttpBinding_IFinanzasWCF" binding="tns:BasicHttpBinding_IFinanzasWCF">
      <soap:address location="http://localhost:49648/FinanzasWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>