GS.SISGEGS.Web/Service References/FinanzasWCF/FinanzasWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGS_ReporteDetraccionesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GS_ReporteDetraccionesResult" nillable="true" type="tns:GS_ReporteDetraccionesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGS_ReporteDetraccionesResult" nillable="true" type="tns:ArrayOfGS_ReporteDetraccionesResult" />
  <xs:complexType name="GS_ReporteDetraccionesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoNotificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detraccion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estatus" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Documento" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Impuesto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreEstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroConstancia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:decimal" />
      <xs:element minOccurs="0" name="Op" type="xs:decimal" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="saldo" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GS_ReporteDetraccionesResult" nillable="true" type="tns:GS_ReporteDetraccionesResult" />
  <xs:complexType name="GS_DetraccionAccionGetResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaActualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPago" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDetraccion" type="xs:int" />
      <xs:element minOccurs="0" name="NroConstancia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GS_DetraccionAccionGetResult" nillable="true" type="tns:GS_DetraccionAccionGetResult" />
  <xs:complexType name="ArrayOfGS_GetVoucherDetraccionesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GS_GetVoucherDetraccionesResult" nillable="true" type="tns:GS_GetVoucherDetraccionesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGS_GetVoucherDetraccionesResult" nillable="true" type="tns:ArrayOfGS_GetVoucherDetraccionesResult" />
  <xs:complexType name="GS_GetVoucherDetraccionesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="aniomesdia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="glosa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_voucher" type="xs:decimal" />
      <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="voucher" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GS_GetVoucherDetraccionesResult" nillable="true" type="tns:GS_GetVoucherDetraccionesResult" />
</xs:schema>