GS.SISGEGS.Web/Service References/FinanzasWCF/FinanzasWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/FinanzasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="ReporteDetracciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteDetraccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ReporteDetraccionesResult" nillable="true" type="q1:ArrayOfGS_ReporteDetraccionesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accion_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objAccionInsert" nillable="true" type="q2:GS_DetraccionAccionGetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accion_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetraccionAccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetraccionAccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetDetraccionAccionResult" nillable="true" type="q3:GS_DetraccionAccionGetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherDetraccione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherDetraccioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetVoucherDetraccioneResult" nillable="true" type="q4:ArrayOfGS_GetVoucherDetraccionesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>