SISGEGS/GS.SISGEGS.Web/Service References/ItemWCF/ItemWCF4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/ItemWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Item_ListarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarProductoResult" nillable="true" type="q1:ArrayOfgsItem_ListarProductoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cantidad" type="xs:decimal" />
        <xs:element minOccurs="0" name="idTipoEnlaceContable" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idDireccionOrigen" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idDireccionDestino" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="idAlmacen" type="xs:decimal" />
        <xs:element minOccurs="0" name="StockDisponible" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_BuscarResult" nillable="true" type="q2:gsItem_BuscarResult" />
        <xs:element minOccurs="0" name="StockDisponible" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarTipoGastoCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarTipoGastoCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarTipoGastoCCResult" nillable="true" type="q3:ArrayOfgsItem_ListarTipoGastoCCResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_AlmacenAnexo" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarStockResult" nillable="true" type="q4:ArrayOfgsItem_ListarStockResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarPrecioCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_ListarPrecioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_ListarPrecioClienteResult" nillable="true" type="q5:ArrayOfgsItem_ListarPrecioClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarPrecioCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPrecioCliente" type="xs:decimal" />
        <xs:element minOccurs="0" name="precioEspecial" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="vigInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vigFinal" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objCliente" nillable="true" type="q6:VBG01134Result" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objProducto" nillable="true" type="q7:VBG01124Result" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarPrecioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="precioEspecial" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="vigInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vigFinal" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objCliente" nillable="true" type="q8:VBG01134Result" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objProducto" nillable="true" type="q9:VBG01124Result" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_RegistrarPrecioCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idClienteProd" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_Cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vigInicio" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vigFinal" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="precioEspecial" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_RegistrarPrecioClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClienteProd" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_BuscarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Item_BuscarProductoResult" nillable="true" type="q10:VBG01124Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_EliminarProductoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_ItemCliente" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item_EliminarProductoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>