GS.SISGEGS.Web/Service References/MenuWCF/MenuWCFsvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuWCFsvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/MenuWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/MenuWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/MenuWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuWCF_MenuPerfil_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:MenuPerfil_Listar" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_MenuPerfil_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MenuPerfil_ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_Menu_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Menu_Listar" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_Menu_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Menu_ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_Menu_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Menu_Registrar" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_Menu_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Menu_RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_Menu_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Menu_Modificar" />
  </wsdl:message>
  <wsdl:message name="IMenuWCF_Menu_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Menu_ModificarResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuWCF">
    <wsdl:operation name="MenuPerfil_Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuWCF/MenuPerfil_Listar" message="tns:IMenuWCF_MenuPerfil_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuWCF/MenuPerfil_ListarResponse" message="tns:IMenuWCF_MenuPerfil_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Menu_Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuWCF/Menu_Listar" message="tns:IMenuWCF_Menu_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuWCF/Menu_ListarResponse" message="tns:IMenuWCF_Menu_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Menu_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuWCF/Menu_Registrar" message="tns:IMenuWCF_Menu_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuWCF/Menu_RegistrarResponse" message="tns:IMenuWCF_Menu_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Menu_Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuWCF/Menu_Modificar" message="tns:IMenuWCF_Menu_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuWCF/Menu_ModificarResponse" message="tns:IMenuWCF_Menu_Modificar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuWCF" type="tns:IMenuWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MenuPerfil_Listar">
      <soap:operation soapAction="http://tempuri.org/IMenuWCF/MenuPerfil_Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Menu_Listar">
      <soap:operation soapAction="http://tempuri.org/IMenuWCF/Menu_Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Menu_Registrar">
      <soap:operation soapAction="http://tempuri.org/IMenuWCF/Menu_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Menu_Modificar">
      <soap:operation soapAction="http://tempuri.org/IMenuWCF/Menu_Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuWCFsvc">
    <wsdl:port name="BasicHttpBinding_IMenuWCF" binding="tns:BasicHttpBinding_IMenuWCF">
      <soap:address location="http://localhost:49648/MenuWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>