SISGEGS/GS.SISGEGS.Web/Service References/EgresosWCF/EgresosWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EgresosWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/EgresosWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/EgresosWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/EgresosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEgresosWCF_EgresosVarios_ListarCajaChica_InputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_ListarCajaChica" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_ListarCajaChica_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_ListarCajaChicaResponse" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_Buscar" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_Registrar" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_Eliminar" />
  </wsdl:message>
  <wsdl:message name="IEgresosWCF_EgresosVarios_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EgresosVarios_EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="IEgresosWCF">
    <wsdl:operation name="EgresosVarios_ListarCajaChica">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_ListarCajaChica" message="tns:IEgresosWCF_EgresosVarios_ListarCajaChica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_ListarCajaChicaResponse" message="tns:IEgresosWCF_EgresosVarios_ListarCajaChica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EgresosVarios_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_Buscar" message="tns:IEgresosWCF_EgresosVarios_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_BuscarResponse" message="tns:IEgresosWCF_EgresosVarios_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EgresosVarios_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_Registrar" message="tns:IEgresosWCF_EgresosVarios_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_RegistrarResponse" message="tns:IEgresosWCF_EgresosVarios_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EgresosVarios_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_Eliminar" message="tns:IEgresosWCF_EgresosVarios_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgresosWCF/EgresosVarios_EliminarResponse" message="tns:IEgresosWCF_EgresosVarios_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEgresosWCF" type="tns:IEgresosWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EgresosVarios_ListarCajaChica">
      <soap:operation soapAction="http://tempuri.org/IEgresosWCF/EgresosVarios_ListarCajaChica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EgresosVarios_Buscar">
      <soap:operation soapAction="http://tempuri.org/IEgresosWCF/EgresosVarios_Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EgresosVarios_Registrar">
      <soap:operation soapAction="http://tempuri.org/IEgresosWCF/EgresosVarios_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EgresosVarios_Eliminar">
      <soap:operation soapAction="http://tempuri.org/IEgresosWCF/EgresosVarios_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EgresosWCF">
    <wsdl:port name="BasicHttpBinding_IEgresosWCF" binding="tns:BasicHttpBinding_IEgresosWCF">
      <soap:address location="http://intranet.gruposilvestre.com.pe/WCFServices/EgresosWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>