SISGEGS/GS.SISGEGS.Web/Service References/EgresosWCF/EgresosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/EgresosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="EgresosVarios_ListarCajaChica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_ListarCajaChicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVarios_ListarCajaChicaResult" nillable="true" type="q1:ArrayOfgsEgresosVarios_ListarCajaChicaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idOperacion" type="xs:int" />
        <xs:element minOccurs="0" name="bloqueado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensajeBloqueado" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEgresosVarios" nillable="true" type="q2:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVarios_BuscarResult" nillable="true" type="q3:gsEgresosVarios_BuscarCabeceraResult" />
        <xs:element minOccurs="0" name="bloqueado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensajeBloqueado" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEgresosVarios" nillable="true" type="q4:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objEVCabecera" nillable="true" type="q5:gsEgresosVarios_BuscarCabeceraResult" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEVDetalles" nillable="true" type="q6:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idOperacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>