GS.SISGEGS.Web/Service References/ComisionesWCF/ComisionWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/ComisionWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Reporte_Cancelaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_CancelacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Reporte_CancelacionesResult" nillable="true" type="q1:ArrayOfgsReporteCanceladosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_ListarTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reporte" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_ListarTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Personal_ListarTotalResult" nillable="true" type="q2:ArrayOfPersonal_ListarTotalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Personal_BuscarResult" nillable="true" type="q3:ArrayOfPersonal_BuscarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonal" type="xs:int" />
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuarioRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="porcentaje" type="xs:decimal" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="reporte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonaPersonal_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonaPersonal_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ZonaPersonal_ListarResult" nillable="true" type="q4:ArrayOfZonaPersonal_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zonas_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zonas_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Zonas_ListarResult" nillable="true" type="q5:ArrayOfgsZonas_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zona_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuarioRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="porcentaje" type="xs:decimal" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Zona_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonasComision_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonasComision_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ZonasComision_ListarResult" nillable="true" type="q6:ArrayOfgsZonasComision_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonasComision_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="porcentaje" type="xs:decimal" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZonasComision_InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoRH_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idempresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargoRH_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="CargoRH_ListarResult" nillable="true" type="q7:ArrayOfcombo_CargosRHResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_Vendedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_VendedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="gsComisiones_VendedoresResult" nillable="true" type="q8:ArrayOfgsComisiones_VendedoresResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_Jefaturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_JefaturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="gsComisiones_JefaturasResult" nillable="true" type="q9:ArrayOfgsComisiones_JefaturasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="combo_Reporte">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="combo_ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="combo_ReporteResult" nillable="true" type="q10:ArrayOfcombo_ReporteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reportes_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idempresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reportes_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Reportes_ListarResult" nillable="true" type="q11:ArrayOfReportes_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Promotores_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="reporte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Promotores_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Promotores_ListarResult" nillable="true" type="q12:ArrayOfPromotores_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsAgenda_UpdateZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsAgenda_UpdateZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_Promotores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_PromotoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="gsComisiones_PromotoresResult" nillable="true" type="q13:ArrayOfgsComisiones_PromotoresResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_Semillas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsComisiones_SemillasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="gsComisiones_SemillasResult" nillable="true" type="q14:ArrayOfgsComisiones_SemillasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoComision_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="anho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PeriodoComision_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="PeriodoComision_ListarResult" nillable="true" type="q15:ArrayOfgsPeriodoComision_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>