SISGEGS/GS.SISGEGS.Web/Service References/UnidadWCF/UnidadWCF1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnidadWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/UnidadWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/UnidadWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/UnidadWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnidadWCF_UnidadGestion_ListarImputables_InputMessage">
    <wsdl:part name="parameters" element="tns:UnidadGestion_ListarImputables" />
  </wsdl:message>
  <wsdl:message name="IUnidadWCF_UnidadGestion_ListarImputables_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnidadGestion_ListarImputablesResponse" />
  </wsdl:message>
  <wsdl:message name="IUnidadWCF_UnidadProyecto_ListarImputables_InputMessage">
    <wsdl:part name="parameters" element="tns:UnidadProyecto_ListarImputables" />
  </wsdl:message>
  <wsdl:message name="IUnidadWCF_UnidadProyecto_ListarImputables_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnidadProyecto_ListarImputablesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnidadWCF">
    <wsdl:operation name="UnidadGestion_ListarImputables">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnidadWCF/UnidadGestion_ListarImputables" message="tns:IUnidadWCF_UnidadGestion_ListarImputables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnidadWCF/UnidadGestion_ListarImputablesResponse" message="tns:IUnidadWCF_UnidadGestion_ListarImputables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnidadProyecto_ListarImputables">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnidadWCF/UnidadProyecto_ListarImputables" message="tns:IUnidadWCF_UnidadProyecto_ListarImputables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnidadWCF/UnidadProyecto_ListarImputablesResponse" message="tns:IUnidadWCF_UnidadProyecto_ListarImputables_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnidadWCF" type="tns:IUnidadWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UnidadGestion_ListarImputables">
      <soap:operation soapAction="http://tempuri.org/IUnidadWCF/UnidadGestion_ListarImputables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnidadProyecto_ListarImputables">
      <soap:operation soapAction="http://tempuri.org/IUnidadWCF/UnidadProyecto_ListarImputables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnidadWCF">
    <wsdl:port name="BasicHttpBinding_IUnidadWCF" binding="tns:BasicHttpBinding_IUnidadWCF">
      <soap:address location="http://intranet.gruposilvestre.com.pe/WCFServices/UnidadWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>