GS.SISGEGS.WINCreditos/GS.SISGEGS.WINCreditos/Service References/ResponsableContratoWCF/ResponsableContratoWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResponsablesContrato_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponsablesContrato_ListarResult" nillable="true" type="tns:ResponsablesContrato_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponsablesContrato_ListarResult" nillable="true" type="tns:ArrayOfResponsablesContrato_ListarResult" />
  <xs:complexType name="ResponsablesContrato_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Area" type="xs:int" />
      <xs:element minOccurs="0" name="Responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idResponsable" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponsablesContrato_ListarResult" nillable="true" type="tns:ResponsablesContrato_ListarResult" />
</xs:schema>