GS.SISGEGS.WINCreditos/GS.SISGEGS.WINCreditos/Service References/ContratosWCF/ContratosWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/ContratosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="ReporteGeneralContratos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAreaResponsable" type="xs:int" />
        <xs:element minOccurs="0" name="idMateria" type="xs:int" />
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteGeneralContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ReporteGeneralContratosResult" nillable="true" type="q1:ArrayOfReporteGeneralContratosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContratosVencer_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Area" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContratosVencer_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ContratosVencer_ListarResult" nillable="true" type="q2:ArrayOfContratosVencer_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaResponsable_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaResponsable_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AreaResponsable_ListarResult" nillable="true" type="q3:ArrayOfAreaResponsable_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorContrato_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProveedorContrato_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ProveedorContrato_ListarResult" nillable="true" type="q4:ArrayOfProveedorContrato_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
        <xs:element minOccurs="0" name="materia" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
        <xs:element minOccurs="0" name="areaResponsable" type="xs:int" />
        <xs:element minOccurs="0" name="renovar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proveedor" type="xs:int" />
        <xs:element minOccurs="0" name="contratante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaSuscripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objeto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="renovacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContrato" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContrato" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Contrato_ObtenerResult" nillable="true" type="q5:Contrato_ObtenerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContrato" type="xs:int" />
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
        <xs:element minOccurs="0" name="materia" type="xs:int" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
        <xs:element minOccurs="0" name="areaResponsable" type="xs:int" />
        <xs:element minOccurs="0" name="renovar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proveedor" type="xs:int" />
        <xs:element minOccurs="0" name="contratante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaSuscripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="objeto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="renovacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contrato_ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>