GS.SISGEGS.Web/Service References/LoginWCF/LoginWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/LoginWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/LoginWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/LoginWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginWCF_Usuario_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Autenticar" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Usuario_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Usuario_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Login" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Usuario_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Usuario_CambiarContrasena_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_CambiarContrasena" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Usuario_CambiarContrasena_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_CambiarContrasenaResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Menu_CargarInicio_InputMessage">
    <wsdl:part name="parameters" element="tns:Menu_CargarInicio" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_Menu_CargarInicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:Menu_CargarInicioResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_AuditoriaMenu_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:AuditoriaMenu_Registrar" />
  </wsdl:message>
  <wsdl:message name="ILoginWCF_AuditoriaMenu_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuditoriaMenu_RegistrarResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginWCF">
    <wsdl:operation name="Usuario_Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWCF/Usuario_Autenticar" message="tns:ILoginWCF_Usuario_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWCF/Usuario_AutenticarResponse" message="tns:ILoginWCF_Usuario_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWCF/Usuario_Login" message="tns:ILoginWCF_Usuario_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWCF/Usuario_LoginResponse" message="tns:ILoginWCF_Usuario_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_CambiarContrasena">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWCF/Usuario_CambiarContrasena" message="tns:ILoginWCF_Usuario_CambiarContrasena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWCF/Usuario_CambiarContrasenaResponse" message="tns:ILoginWCF_Usuario_CambiarContrasena_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Menu_CargarInicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWCF/Menu_CargarInicio" message="tns:ILoginWCF_Menu_CargarInicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWCF/Menu_CargarInicioResponse" message="tns:ILoginWCF_Menu_CargarInicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditoriaMenu_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginWCF/AuditoriaMenu_Registrar" message="tns:ILoginWCF_AuditoriaMenu_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginWCF/AuditoriaMenu_RegistrarResponse" message="tns:ILoginWCF_AuditoriaMenu_Registrar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginWCF" type="tns:ILoginWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Usuario_Autenticar">
      <soap:operation soapAction="http://tempuri.org/ILoginWCF/Usuario_Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_Login">
      <soap:operation soapAction="http://tempuri.org/ILoginWCF/Usuario_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_CambiarContrasena">
      <soap:operation soapAction="http://tempuri.org/ILoginWCF/Usuario_CambiarContrasena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Menu_CargarInicio">
      <soap:operation soapAction="http://tempuri.org/ILoginWCF/Menu_CargarInicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditoriaMenu_Registrar">
      <soap:operation soapAction="http://tempuri.org/ILoginWCF/AuditoriaMenu_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginWCF">
    <wsdl:port name="BasicHttpBinding_ILoginWCF" binding="tns:BasicHttpBinding_ILoginWCF">
      <soap:address location="http://localhost:49648/LoginWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>