SISGEGS/GS.SISGEGS.Web/Service References/VarianteWCF/VarianteWCF31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Variante_BuscarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="idVariante" type="xs:int" />
      <xs:element minOccurs="0" name="parametro1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parametro9" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Variante_BuscarResult" nillable="true" type="tns:Variante_BuscarResult" />
</xs:schema>