GS.SISGEGS.Web/Service References/MarcasWCF/MarcasWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/MarcasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="TitularMarca_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TitularMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="TitularMarca_ListarResult" nillable="true" type="q1:ArrayOfTitularMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
        <xs:element minOccurs="0" name="idPais" type="xs:int" />
        <xs:element minOccurs="0" name="idTitular" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="clase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="todo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="RegistroMarca_ListarResult" nillable="true" type="q2:ArrayOfRegistroMarca_Listar_v2Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMarca_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="TipoMarca_ListarResult" nillable="true" type="q3:ArrayOfTipoMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pais_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Pais_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Pais_ListarResult" nillable="true" type="q4:ArrayOfPais_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Marca_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreMarca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Marca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Marca_ListarResult" nillable="true" type="q5:ArrayOfMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponsablesRegistros_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponsablesRegistros_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ResponsablesRegistros_ListarResult" nillable="true" type="q6:ArrayOfResponsablesRegistros_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_Notificacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_NotificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="RegistroMarca_NotificacionResult" nillable="true" type="q7:ArrayOfRegistroMarca_NotificacionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoMarca_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoMarca_ListarResult" nillable="true" type="q8:ArrayOfEstadoMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegistroMarca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="RegistroMarca_ObtenerResult" nillable="true" type="q9:RegistroMarca_ObtenerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarca" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPais" type="xs:int" />
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
        <xs:element minOccurs="0" name="idTitular" type="xs:int" />
        <xs:element minOccurs="0" name="clase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certificado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idEstadoMarca" type="xs:int" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistroMarca_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoMarca_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarca" type="xs:int" />
        <xs:element minOccurs="0" name="FechanVencimientoIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaVencimientoFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoricoMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="HistoricoMarca_ListarResult" nillable="true" type="q10:ArrayOfRegistroMarcaHistorico_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentoMarca_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegistroMarca" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentoMarca_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentoMarca_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRegistroMarca" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoDocumentoMarca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentoMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DocumentoMarca_ListarResult" nillable="true" type="q11:ArrayOfDocumentosMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentoMarca_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDocumento" type="xs:int" />
        <xs:element minOccurs="0" name="idRegistroMarca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentoMarca_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumentoMarca_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoDocumentoMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="TipoDocumentoMarca_ListarResult" nillable="true" type="q12:ArrayOfTipoDocumentoMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaseMarca_Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaseMarca_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ClaseMarca_ListarResult" nillable="true" type="q13:ArrayOfClaseMarca_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>