SISGEGS/GS.SISGEGS.Web/Service References/UsuarioWCF/UsuarioWCF1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/UsuarioWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/UsuarioWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/UsuarioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioWCF_Usuario_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Autenticar" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Usuario_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Usuario_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_Login" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Usuario_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Usuario_CambiarContrasena_InputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_CambiarContrasena" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWCF_Usuario_CambiarContrasena_OutputMessage">
    <wsdl:part name="parameters" element="tns:Usuario_CambiarContrasenaResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioWCF">
    <wsdl:operation name="Usuario_Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Usuario_Autenticar" message="tns:IUsuarioWCF_Usuario_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/Usuario_AutenticarResponse" message="tns:IUsuarioWCF_Usuario_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Usuario_Login" message="tns:IUsuarioWCF_Usuario_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/Usuario_LoginResponse" message="tns:IUsuarioWCF_Usuario_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Usuario_CambiarContrasena">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWCF/Usuario_CambiarContrasena" message="tns:IUsuarioWCF_Usuario_CambiarContrasena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWCF/Usuario_CambiarContrasenaResponse" message="tns:IUsuarioWCF_Usuario_CambiarContrasena_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioWCF" type="tns:IUsuarioWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Usuario_Autenticar">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Usuario_Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_Login">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Usuario_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Usuario_CambiarContrasena">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWCF/Usuario_CambiarContrasena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioWCF">
    <wsdl:port name="BasicHttpBinding_IUsuarioWCF" binding="tns:BasicHttpBinding_IUsuarioWCF">
      <soap:address location="http://intranet.gruposilvestre.com.pe/WCFServices/UsuarioWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>