GS.SISGEGS.Web/Service References/NoticiasWCF/NoticiasWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NoticiasWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/NoticiasWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/NoticiasWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/NoticiasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INoticiasWCF_Noticia_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_Listar" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_ListarResponse" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_Buscar" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_Eliminar" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_Registrar" />
  </wsdl:message>
  <wsdl:message name="INoticiasWCF_Noticia_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Noticia_RegistrarResponse" />
  </wsdl:message>
  <wsdl:portType name="INoticiasWCF">
    <wsdl:operation name="Noticia_Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_Listar" message="tns:INoticiasWCF_Noticia_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_ListarResponse" message="tns:INoticiasWCF_Noticia_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Noticia_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_Buscar" message="tns:INoticiasWCF_Noticia_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_BuscarResponse" message="tns:INoticiasWCF_Noticia_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Noticia_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_Eliminar" message="tns:INoticiasWCF_Noticia_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_EliminarResponse" message="tns:INoticiasWCF_Noticia_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Noticia_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_Registrar" message="tns:INoticiasWCF_Noticia_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INoticiasWCF/Noticia_RegistrarResponse" message="tns:INoticiasWCF_Noticia_Registrar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INoticiasWCF" type="tns:INoticiasWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Noticia_Listar">
      <soap:operation soapAction="http://tempuri.org/INoticiasWCF/Noticia_Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Noticia_Buscar">
      <soap:operation soapAction="http://tempuri.org/INoticiasWCF/Noticia_Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Noticia_Eliminar">
      <soap:operation soapAction="http://tempuri.org/INoticiasWCF/Noticia_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Noticia_Registrar">
      <soap:operation soapAction="http://tempuri.org/INoticiasWCF/Noticia_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NoticiasWCF">
    <wsdl:port name="BasicHttpBinding_INoticiasWCF" binding="tns:BasicHttpBinding_INoticiasWCF">
      <soap:address location="http://localhost:49648/NoticiasWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>