GS.SISGEGS.Web/Service References/NoticiasWCF/NoticiasWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/NoticiasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Noticia_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Noticia_ListarResult" nillable="true" type="q1:ArrayOfNoticia_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNoticia" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstNoticiaFoto" nillable="true" type="q2:ArrayOfNoticiaFoto_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Noticia_BuscarResult" nillable="true" type="q3:Noticia_BuscarResult" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstNoticiaFoto" nillable="true" type="q4:ArrayOfNoticiaFoto_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNoticia" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioModificar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNoticia" type="xs:int" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuarioRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstNoticiaFoto" nillable="true" type="q5:ArrayOfNoticiaFoto_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Noticia_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>