GS.SISGEGS.Web/Service References/PlanificacionWCF/PlanificacionWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/PlanificacionWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Perfil_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Perfil_ListarResult" nillable="true" type="q1:ArrayOfGS_GetAllModulosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_Modulo" type="xs:int" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_Agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_Estado" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioModificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modulos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanificacionByPeriodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="periodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanificacionByPeriodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetPlanificacionByPeriodoResult" nillable="true" type="q2:ArrayOfGS_GetPlanificacionByPeriodoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanificacionDetalleByIdPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPlanificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanificacionDetalleByIdPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetPlanificacionDetalleByIdPlanResult" nillable="true" type="q3:ArrayOfGS_GetPlanificacionDetalleByIdPlanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetalleToInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetalleToInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetPlanDetalleToInsertResult" nillable="true" type="q4:ArrayOfGS_GetPlanDetalleToInsertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetalleToEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPlanificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetalleToEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetPlanDetalleToEditResult" nillable="true" type="q5:ArrayOfGS_GetPlanDetalleToEditResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionCabecera_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="periodo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuarioCreacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionCabecera_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanificacionCabecera_InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionCabecera_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPlanificacion" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuarioCreacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionCabecera_UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionDetalle_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_Modulo" type="xs:int" />
        <xs:element minOccurs="0" name="idPlanificacion" type="xs:int" />
        <xs:element minOccurs="0" name="fechaCierre" type="xs:dateTime" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="usuarioCreacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionDetalle_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlanificacionDetalle_InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgendaLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgendaListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetAgendaListaResult" nillable="true" type="q6:ArrayOfGS_GetAgendaListaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionHistorial_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_detalle" type="xs:int" />
        <xs:element minOccurs="0" name="id_Modulo" type="xs:int" />
        <xs:element minOccurs="0" name="id_Agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaCierre" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuarioModificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionHistorial_InsertarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionDetalle_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_detalle" type="xs:int" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaCierre" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuarioModificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlanificacionDetalle_ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorialCambios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_Detalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistorialCambiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="GetHistorialCambiosResult" nillable="true" type="q7:ArrayOfGS_GetHistorialCambiosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MetaPresupuesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechainicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechafinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MetaPresupuestoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Obtener_MetaPresupuestoResult" nillable="true" type="q8:ArrayOfUSP_Sel_MetaPresupuestoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_MetaPresupuesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="aprobado" type="xs:boolean" />
        <xs:element minOccurs="0" name="pcregistro" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstdetalle" nillable="true" type="q9:ArrayOfUSP_Sel_MetaPresupuestoDetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_MetaPresupuestoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MetaPresupuestoCabDet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="eMetaPreCab" nillable="true" type="q10:USP_Sel_MetaPresupuestoCabResult" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstMetaPreDet" nillable="true" type="q11:ArrayOfUSP_Sel_MetaPresupuestoDetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MetaPresupuestoCabDetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="eMetaPreCab" nillable="true" type="q12:USP_Sel_MetaPresupuestoCabResult" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstMetaPreDet" nillable="true" type="q13:ArrayOfUSP_Sel_MetaPresupuestoDetResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_MetaPresupuesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_MetaPresupuestoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Aprobar_MetaPresupuesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aprobado" type="xs:boolean" />
        <xs:element minOccurs="0" name="pcModifica" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aprobar_MetaPresupuestoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_TipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Obtener_TipoClienteResult" nillable="true" type="q14:USP_Sel_TipoClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_MetaPresupuestoPromotor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_promotor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" type="xs:decimal" />
        <xs:element minOccurs="0" name="aprobado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_MetaPresupuestoPromotorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MetaPresupuestoPromotor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_MetaPresupuestoPromotorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Obtener_MetaPresupuestoPromotorResult" nillable="true" type="q15:ArrayOfUSP_Sel_MetaPresupuestoPromotorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PresupuestoPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PresupuestoPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Obtener_PresupuestoPendienteResult" nillable="true" type="q16:ArrayOfUSP_SEL_MetaPresupuestoPendienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PromotoresxVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PromotoresxVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Obtener_PromotoresxVendedorResult" nillable="true" type="q17:ArrayOfUSP_Sel_PromotoresxVendedorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_MetaPresupuestoPromotor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anno" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_MetaPresupuestoPromotorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PresupuestoResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_PresupuestoResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Obtener_PresupuestoResumenResult" nillable="true" type="q18:ArrayOfUSP_SEL_VENTA_POR_VENDEDOR2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>