GS.SISGEGS.Web/Service References/EgresosWCF/EgresosWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/EgresosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:import schemaLocation="http://localhost:49648/EgresosWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="EgresosVarios_ListarCajaChica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="revisarGastos" type="xs:boolean" />
        <xs:element minOccurs="0" name="id_proveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numero" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_ListarCajaChicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVarios_ListarCajaChicaResult" nillable="true" type="q1:ArrayOfgsEgresosVarios_ListarCajaChicaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idOperacion" type="xs:int" />
        <xs:element minOccurs="0" name="bloqueado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensajeBloqueado" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEgresosVarios" nillable="true" type="q2:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVarios_BuscarResult" nillable="true" type="q3:gsEgresosVarios_BuscarCabeceraResult" />
        <xs:element minOccurs="0" name="bloqueado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensajeBloqueado" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEgresosVarios" nillable="true" type="q4:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objEVCabecera" nillable="true" type="q5:gsEgresosVarios_BuscarCabeceraResult" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEVDetalles" nillable="true" type="q6:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idOperacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosUsuario_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Agenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosUsuario_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVariosUsuario_BuscarResult" nillable="true" type="q7:gsEgresosVariosUsuario_BuscarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosAprobar_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosAprobar_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_Aprobar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Doc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_AprobarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NaturalezaGasto_ListarImputables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NaturalezaGasto_ListarImputablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="NaturalezaGasto_ListarImputablesResult" nillable="true" type="q8:ArrayOfVBG03096Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadGestion_ListarImputables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadGestion_ListarImputablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="UnidadGestion_ListarImputablesResult" nillable="true" type="q9:ArrayOfVBG02665Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadProyecto_ListarImputables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadProyecto_ListarImputablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="UnidadProyecto_ListarImputablesResult" nillable="true" type="q10:ArrayOfVBG02668Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentroCosto_ListarImputables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentroCosto_ListarImputablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="CentroCosto_ListarImputablesResult" nillable="true" type="q11:ArrayOfVBG00786Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Documento_ListarDocCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Documento_ListarDocCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Documento_ListarDocCompraResult" nillable="true" type="q12:ArrayOfgsDocumento_ListarTipoCompraResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Documento_ListarEgresosVarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Documento_ListarEgresosVariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Documento_ListarEgresosVariosResult" nillable="true" type="q13:ArrayOfVBG01122Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEgresosVarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objEVCabecera" nillable="true" type="q14:gsEgresosVariosInt_BuscarCabeceraResult" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEVDetalles" nillable="true" type="q15:ArrayOfgsEgresosVariosDInt_BuscarDetalleResult" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarEgresosVariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarEgresosVariosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosInt_ListarCajaChica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="revisarGastos" type="xs:boolean" />
        <xs:element minOccurs="0" name="id_proveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosInt_ListarCajaChicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVariosInt_ListarCajaChicaResult" nillable="true" type="q16:ArrayOfgsEgresosVariosInt_ListarCajaChicaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosInt_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idOperacion" type="xs:int" />
        <xs:element minOccurs="0" name="bloqueado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensajeBloqueado" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEgresosVarios" nillable="true" type="q17:ArrayOfgsEgresosVariosDInt_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosInt_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresosVariosInt_BuscarResult" nillable="true" type="q18:gsEgresosVariosInt_BuscarCabeceraResult" />
        <xs:element minOccurs="0" name="bloqueado" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensajeBloqueado" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEgresosVarios" nillable="true" type="q19:ArrayOfgsEgresosVariosDInt_BuscarDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlujoPermisoEditar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
        <xs:element minOccurs="0" name="idCcosto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlujoPermisoEditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="FlujoPermisoEditarResult" nillable="true" type="q20:gsFlujoPermisoEditarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarEgresoVariosFlujo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
        <xs:element minOccurs="0" name="idCcosto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Ok" type="q21:char" />
        <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AprobarEgresoVariosFlujoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresoCajaFlujo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresoCajaFlujoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EgresoCajaFlujoResult" nillable="true" type="q22:ArrayOfgsEgresoCajaFlujoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosInt_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosInt_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicadorEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicadorEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="IndicadorEnvioResult" nillable="true" type="q23:ArrayOfgsIndicadorEnvioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_RegistrarGenesys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="objEVCabecera" nillable="true" type="q24:gsEgresosVarios_BuscarCabeceraResult" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="lstEVDetalles" nillable="true" type="q25:ArrayOfgsEgresosVarios_BuscarDetalleResult" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVarios_RegistrarGenesysResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosFechaInicio_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EgresosVariosFechaInicio_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EgresosVariosFechaInicio_ObtenerResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObservaciones_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObservaciones_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarObservaciones_UsuarioResult" nillable="true" type="q26:ArrayOfgsEgresosVarios_MaxObservacionesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetalleObservaciones_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDetalleObservaciones_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarDetalleObservaciones_UsuarioResult" nillable="true" type="q27:ArrayOfgsEgresosVarios_DetalleObservacionesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIndicadorNoEnvio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIndicadorNoEnvioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarIndicadorNoEnvioResult" nillable="true" type="q28:ArrayOfgsIndicadorNoEnvioResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>