GS.SISGEGS.UT/Service References/DashboardWCF/DashboardWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgsDocVenta_ReporteVenta_MesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsDocVenta_ReporteVenta_MesResult" nillable="true" type="tns:gsDocVenta_ReporteVenta_MesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsDocVenta_ReporteVenta_MesResult" nillable="true" type="tns:ArrayOfgsDocVenta_ReporteVenta_MesResult" />
  <xs:complexType name="gsDocVenta_ReporteVenta_MesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Año" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ValorPlanificado" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorVenta" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsDocVenta_ReporteVenta_MesResult" nillable="true" type="tns:gsDocVenta_ReporteVenta_MesResult" />
  <xs:complexType name="ArrayOfEmpresa_ListarDashboardResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa_ListarDashboardResult" nillable="true" type="tns:Empresa_ListarDashboardResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa_ListarDashboardResult" nillable="true" type="tns:ArrayOfEmpresa_ListarDashboardResult" />
  <xs:complexType name="Empresa_ListarDashboardResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="color1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa_ListarDashboardResult" nillable="true" type="tns:Empresa_ListarDashboardResult" />
</xs:schema>