GS.SISGEGS.UT/Service References/DashboardWCF/DashboardWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/DashboardWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/DashboardWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/DashboardWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
      <xsd:import schemaLocation="http://localhost:49648/DashboardWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDashboardWCF_DocVenta_ReporteVenta_Mes_InputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_ReporteVenta_Mes" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_ReporteVenta_Mes_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_ReporteVenta_MesResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_Empresa_ListarDashboard_InputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_ListarDashboard" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_Empresa_ListarDashboard_OutputMessage">
    <wsdl:part name="parameters" element="tns:Empresa_ListarDashboardResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_Top5Vendedor_InputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_Top5Vendedor" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_Top5Vendedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_Top5VendedorResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_Top5Cliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_Top5Cliente" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_Top5Cliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_Top5ClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_Top5Producto_InputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_Top5Producto" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVenta_Top5Producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocVenta_Top5ProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVentaDev_ResumenMensual_InputMessage">
    <wsdl:part name="parameters" element="tns:DocVentaDev_ResumenMensual" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVentaDev_ResumenMensual_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocVentaDev_ResumenMensualResponse" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVentaDev_KPIMotivo_InputMessage">
    <wsdl:part name="parameters" element="tns:DocVentaDev_KPIMotivo" />
  </wsdl:message>
  <wsdl:message name="IDashboardWCF_DocVentaDev_KPIMotivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocVentaDev_KPIMotivoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDashboardWCF">
    <wsdl:operation name="DocVenta_ReporteVenta_Mes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_ReporteVenta_Mes" message="tns:IDashboardWCF_DocVenta_ReporteVenta_Mes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_ReporteVenta_MesResponse" message="tns:IDashboardWCF_DocVenta_ReporteVenta_Mes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Empresa_ListarDashboard">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/Empresa_ListarDashboard" message="tns:IDashboardWCF_Empresa_ListarDashboard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/Empresa_ListarDashboardResponse" message="tns:IDashboardWCF_Empresa_ListarDashboard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocVenta_Top5Vendedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_Top5Vendedor" message="tns:IDashboardWCF_DocVenta_Top5Vendedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_Top5VendedorResponse" message="tns:IDashboardWCF_DocVenta_Top5Vendedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocVenta_Top5Cliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_Top5Cliente" message="tns:IDashboardWCF_DocVenta_Top5Cliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_Top5ClienteResponse" message="tns:IDashboardWCF_DocVenta_Top5Cliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocVenta_Top5Producto">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_Top5Producto" message="tns:IDashboardWCF_DocVenta_Top5Producto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/DocVenta_Top5ProductoResponse" message="tns:IDashboardWCF_DocVenta_Top5Producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocVentaDev_ResumenMensual">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/DocVentaDev_ResumenMensual" message="tns:IDashboardWCF_DocVentaDev_ResumenMensual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/DocVentaDev_ResumenMensualResponse" message="tns:IDashboardWCF_DocVentaDev_ResumenMensual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocVentaDev_KPIMotivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDashboardWCF/DocVentaDev_KPIMotivo" message="tns:IDashboardWCF_DocVentaDev_KPIMotivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDashboardWCF/DocVentaDev_KPIMotivoResponse" message="tns:IDashboardWCF_DocVentaDev_KPIMotivo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDashboardWCF" type="tns:IDashboardWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocVenta_ReporteVenta_Mes">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/DocVenta_ReporteVenta_Mes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Empresa_ListarDashboard">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/Empresa_ListarDashboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocVenta_Top5Vendedor">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/DocVenta_Top5Vendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocVenta_Top5Cliente">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/DocVenta_Top5Cliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocVenta_Top5Producto">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/DocVenta_Top5Producto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocVentaDev_ResumenMensual">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/DocVentaDev_ResumenMensual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocVentaDev_KPIMotivo">
      <soap:operation soapAction="http://tempuri.org/IDashboardWCF/DocVentaDev_KPIMotivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardWCF">
    <wsdl:port name="BasicHttpBinding_IDashboardWCF" binding="tns:BasicHttpBinding_IDashboardWCF">
      <soap:address location="http://localhost:49648/DashboardWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>