GS.SISGEGS.UT/Service References/DashboardWCF/DashboardWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/DashboardWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:import schemaLocation="http://localhost:49648/DashboardWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" />
  <xs:element name="DocVenta_ReporteVenta_Mes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_ReporteVenta_MesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DocVenta_ReporteVenta_MesResult" nillable="true" type="q1:ArrayOfgsDocVenta_ReporteVenta_MesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ListarDashboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Empresa_ListarDashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Empresa_ListarDashboardResult" nillable="true" type="q2:ArrayOfEmpresa_ListarDashboardResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_Top5Vendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Venta" nillable="true" type="q3:ArrayOfVendedorTop5BE" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Renta" nillable="true" type="q4:ArrayOfVendedorTop5BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_Top5VendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Venta" nillable="true" type="q5:ArrayOfVendedorTop5BE" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Renta" nillable="true" type="q6:ArrayOfVendedorTop5BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_Top5Cliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Venta" nillable="true" type="q7:ArrayOfVendedorTop5BE" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Renta" nillable="true" type="q8:ArrayOfVendedorTop5BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_Top5ClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Venta" nillable="true" type="q9:ArrayOfVendedorTop5BE" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Renta" nillable="true" type="q10:ArrayOfVendedorTop5BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_Top5Producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Venta" nillable="true" type="q11:ArrayOfVendedorTop5BE" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Renta" nillable="true" type="q12:ArrayOfVendedorTop5BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_Top5ProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Venta" nillable="true" type="q13:ArrayOfVendedorTop5BE" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstTop5Renta" nillable="true" type="q14:ArrayOfVendedorTop5BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVentaDev_ResumenMensual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstKPI" nillable="true" type="q15:ArrayOfNotaCreditoKPIBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVentaDev_ResumenMensualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstKPI" nillable="true" type="q16:ArrayOfNotaCreditoKPIBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVentaDev_KPIMotivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstMotivo" nillable="true" type="q17:ArrayOfDocVentaDev_KPIMotivoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVentaDev_KPIMotivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="lstMotivo" nillable="true" type="q18:ArrayOfDocVentaDev_KPIMotivoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>