GS.SISGEGS.Web/Service References/PedidoWCF/PedidoWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PedidoCabBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="EntregaParcial" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDespacho" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaOrden" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVigencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraAtencionOpcional1_Desde" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoraAtencionOpcional1_Hasta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoraAtencionOpcional2_Desde" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoraAtencionOpcional2_Hasta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoraAtencionOpcional3_Desde" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoraAtencionOpcional3_Hasta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdAgenciaAnexo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdAgenciaAnexoReferencia" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdAgenciaDireccion1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdAgenciaDireccion2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdAgenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAgendaDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAgendaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAlmacen" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdChofer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCondicionCredito" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDireccionDestino" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdDireccionOrigen" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdDocumentoVenta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdEnvio" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdMoneda" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdNaturalezaGasto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPago" type="xs:int" />
      <xs:element minOccurs="0" name="IdReferenciaDestino" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdReferenciaOrigen" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdSede" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdSucursalDestino" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdSucursalOrigen" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdTipoDespacho" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoPedido" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTransportista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVehiculo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVehiculo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVehiculo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdVendedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Impuestos" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Neto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NotasDespacho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroOrdenCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prioridad" type="xs:int" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoCabBE" nillable="true" type="tns:PedidoCabBE" />
  <xs:complexType name="ArrayOfPedidoDetBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoDetBE" nillable="true" type="tns:PedidoDetBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoDetBE" nillable="true" type="tns:ArrayOfPedidoDetBE" />
  <xs:complexType name="PedidoDetBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="CantidadUnidadDoc" type="xs:decimal" />
      <xs:element minOccurs="0" name="CantidadUnidadInv" type="xs:decimal" />
      <xs:element minOccurs="0" name="Dcto" type="xs:decimal" />
      <xs:element minOccurs="0" name="DctoValor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FactorUnidadInv" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_CCosto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_ItemAnexo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_ItemPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UnidadDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UnidadGestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UnidadInv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_UnidadProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAmarre" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdOperacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Item_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Linea" type="xs:decimal" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="TablaOrigen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoDetBE" nillable="true" type="tns:PedidoDetBE" />
  <xs:complexType name="ArrayOfGlosaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GlosaBE" nillable="true" type="tns:GlosaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGlosaBE" nillable="true" type="tns:ArrayOfGlosaBE" />
  <xs:complexType name="GlosaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseImponible" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGlosa" type="xs:decimal" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlosaBE" nillable="true" type="tns:GlosaBE" />
</xs:schema>