GS.SISGEGS.WMSFtp/Service References/WmsWCF/WmsWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgsWMSPendientes_EnvioResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsWMSPendientes_EnvioResult" nillable="true" type="tns:gsWMSPendientes_EnvioResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsWMSPendientes_EnvioResult" nillable="true" type="tns:ArrayOfgsWMSPendientes_EnvioResult" />
  <xs:complexType name="gsWMSPendientes_EnvioResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlmacenDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlmacenDestinoID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Anexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackOrder" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Clase1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clase2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clase3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clase4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dcto" type="xs:decimal" />
      <xs:element minOccurs="0" name="DctoValor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devuelto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FactR" type="xs:decimal" />
      <xs:element minOccurs="0" name="Facturado" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaAcceso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEntrega" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaOrden" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVigencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraAcceso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Agenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_AgendaAnexo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_AgendaDireccion1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_AgendaDireccion2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Amarre" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_ItemAnexo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Moneda" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Sede" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Pago" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Impuestos" type="xs:decimal" />
      <xs:element minOccurs="0" name="Kardex" type="xs:decimal" />
      <xs:element minOccurs="0" name="KardexCantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="KardexUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Linea" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModoDePago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nc" type="xs:decimal" />
      <xs:element minOccurs="0" name="Neto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotasDeRecepcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Prioridad" type="xs:int" />
      <xs:element minOccurs="0" name="RecF" type="xs:decimal" />
      <xs:element minOccurs="0" name="Recibido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sede" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TablaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDespacho" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAcceso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsWMSPendientes_EnvioResult" nillable="true" type="tns:gsWMSPendientes_EnvioResult" />
  <xs:complexType name="WMS_ObtenerOrdenCompraResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_AgendaDireccion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_AgendaDireccion2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id_Agenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMS_ObtenerOrdenCompraResult" nillable="true" type="tns:WMS_ObtenerOrdenCompraResult" />
</xs:schema>