GS.SISGEGS.WMSFtp/Service References/WmsWCF/WmsWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WmsWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/WmsWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/WmsWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/WmsWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWmsWCF_WmsPendientes_Envio_InputMessage">
    <wsdl:part name="parameters" element="tns:WmsPendientes_Envio" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WmsPendientes_Envio_OutputMessage">
    <wsdl:part name="parameters" element="tns:WmsPendientes_EnvioResponse" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WMS_RegistrarGuiaCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:WMS_RegistrarGuiaCompra" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WMS_RegistrarGuiaCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:WMS_RegistrarGuiaCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WMS_ObtenerOrdenCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:WMS_ObtenerOrdenCompra" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WMS_ObtenerOrdenCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:WMS_ObtenerOrdenCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WMS_RegistrarGuiaCompraLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:WMS_RegistrarGuiaCompraLinea" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_WMS_RegistrarGuiaCompraLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:WMS_RegistrarGuiaCompraLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_ProcesarGuiaCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarGuiaCompra" />
  </wsdl:message>
  <wsdl:message name="IWmsWCF_ProcesarGuiaCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesarGuiaCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="IWmsWCF">
    <wsdl:operation name="WmsPendientes_Envio">
      <wsdl:input wsaw:Action="http://tempuri.org/IWmsWCF/WmsPendientes_Envio" message="tns:IWmsWCF_WmsPendientes_Envio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWmsWCF/WmsPendientes_EnvioResponse" message="tns:IWmsWCF_WmsPendientes_Envio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WMS_RegistrarGuiaCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IWmsWCF/WMS_RegistrarGuiaCompra" message="tns:IWmsWCF_WMS_RegistrarGuiaCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWmsWCF/WMS_RegistrarGuiaCompraResponse" message="tns:IWmsWCF_WMS_RegistrarGuiaCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WMS_ObtenerOrdenCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IWmsWCF/WMS_ObtenerOrdenCompra" message="tns:IWmsWCF_WMS_ObtenerOrdenCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWmsWCF/WMS_ObtenerOrdenCompraResponse" message="tns:IWmsWCF_WMS_ObtenerOrdenCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WMS_RegistrarGuiaCompraLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IWmsWCF/WMS_RegistrarGuiaCompraLinea" message="tns:IWmsWCF_WMS_RegistrarGuiaCompraLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWmsWCF/WMS_RegistrarGuiaCompraLineaResponse" message="tns:IWmsWCF_WMS_RegistrarGuiaCompraLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarGuiaCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IWmsWCF/ProcesarGuiaCompra" message="tns:IWmsWCF_ProcesarGuiaCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWmsWCF/ProcesarGuiaCompraResponse" message="tns:IWmsWCF_ProcesarGuiaCompra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWmsWCF" type="tns:IWmsWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WmsPendientes_Envio">
      <soap:operation soapAction="http://tempuri.org/IWmsWCF/WmsPendientes_Envio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WMS_RegistrarGuiaCompra">
      <soap:operation soapAction="http://tempuri.org/IWmsWCF/WMS_RegistrarGuiaCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WMS_ObtenerOrdenCompra">
      <soap:operation soapAction="http://tempuri.org/IWmsWCF/WMS_ObtenerOrdenCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WMS_RegistrarGuiaCompraLinea">
      <soap:operation soapAction="http://tempuri.org/IWmsWCF/WMS_RegistrarGuiaCompraLinea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarGuiaCompra">
      <soap:operation soapAction="http://tempuri.org/IWmsWCF/ProcesarGuiaCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WmsWCF">
    <wsdl:port name="BasicHttpBinding_IWmsWCF" binding="tns:BasicHttpBinding_IWmsWCF">
      <soap:address location="http://localhost:49648/WmsWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>