GS.SISGEGS.Web/Service References/ReporteContabilidadWCF/ReporteContabilidadWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/ReporteContabilidadWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Voucher_FechContaVSFechaAplic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Voucher_FechContaVSFechaAplicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Voucher_FechContaVSFechaAplicResult" nillable="true" type="q1:ArrayOfgsVoucher_fechContaVSfechaAplicResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistGtos_ListarFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistGtos_ListarFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DistGtos_ListarFechasResult" nillable="true" type="q2:ArrayOfgsFileDistGtos_ListarFechasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_ListarTransGratuitas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocVenta_ListarTransGratuitasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DocVenta_ListarTransGratuitasResult" nillable="true" type="q3:ArrayOfgsDocVenta_ListarTransGratuitasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCostoProduccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCostoProduccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ReporteCostoProduccionResult" nillable="true" type="q4:ArrayOfReporte_CostoProduccionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCostoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idMoneda" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="mesEvaluar" type="xs:int" />
        <xs:element minOccurs="0" name="kardex" type="xs:int" />
        <xs:element minOccurs="0" name="id_forma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteCostoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ReporteCostoVentaResult" nillable="true" type="q5:ArrayOfReporte_CostoVentaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="formaPago" type="xs:int" />
        <xs:element minOccurs="0" name="idMoneda" type="xs:int" />
        <xs:element minOccurs="0" name="kardex" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ReporteVentaResult" nillable="true" type="q6:ArrayOfReporte_Venta_TransfResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumenAfiliadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="operacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
        <xs:element minOccurs="0" name="moneda" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumenAfiliadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ResumenAfiliadasResult" nillable="true" type="q7:ArrayOfReporteAfiliadasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleOperacionFamilia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
        <xs:element minOccurs="0" name="operacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moneda" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleOperacionFamiliaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DetalleOperacionFamiliaResult" nillable="true" type="q8:ArrayOfDetalleOperacionFamiliaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleOperacionFamiliaAnticuamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
        <xs:element minOccurs="0" name="operacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moneda" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleOperacionFamiliaAnticuamientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DetalleOperacionFamiliaAnticuamientoResult" nillable="true" type="q9:ArrayOfDetalleOperacionFamiliaAnticuamientoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>