SISGEGS/GS.SISGEGS.Web/Service References/DireccionWCF/DireccionWCF5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBG00209Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG00209Result" nillable="true" type="tns:VBG00209Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG00209Result" nillable="true" type="tns:ArrayOfVBG00209Result" />
  <xs:complexType name="VBG00209Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Distrito" type="xs:decimal" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalAlmacen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucursalAlmacenReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TablaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCalle" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDireccion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG00209Result" nillable="true" type="tns:VBG00209Result" />
  <xs:complexType name="ArrayOfVBG03679Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG03679Result" nillable="true" type="tns:VBG03679Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG03679Result" nillable="true" type="tns:ArrayOfVBG03679Result" />
  <xs:complexType name="VBG03679Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG03679Result" nillable="true" type="tns:VBG03679Result" />
</xs:schema>