SISGEGS/GS.SISGEGS.Web/Service References/EnvioWCF/EnvioWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBG00700Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG00700Result" nillable="true" type="tns:VBG00700Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG00700Result" nillable="true" type="tns:ArrayOfVBG00700Result" />
  <xs:complexType name="VBG00700Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG00700Result" nillable="true" type="tns:VBG00700Result" />
</xs:schema>