GS.SISGEGS.Web/Service References/SmsWFC/SmsWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSP_PerfilesEmpresaResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_PerfilesEmpresaResult" nillable="true" type="tns:SP_PerfilesEmpresaResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSP_PerfilesEmpresaResult" nillable="true" type="tns:ArrayOfSP_PerfilesEmpresaResult" />
  <xs:complexType name="SP_PerfilesEmpresaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="nombrePerfil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SP_PerfilesEmpresaResult" nillable="true" type="tns:SP_PerfilesEmpresaResult" />
</xs:schema>