GS.SISGEGS.Web/Service References/ReporteSistemasWCF/ReporteSistemasWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/ReporteSistemasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="AuditoriaMenu_Reporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditoriaMenu_ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="AuditoriaMenu_ReporteResult" nillable="true" type="q1:ArrayOfAuditoriaMenu_ReporteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarControlFacturasMaximo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="procesados" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarControlFacturasMaximoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarControlFacturasMaximoResult" nillable="true" type="q2:ArrayOfUSP_Sel_ControlFacturasMaximoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>