GS.SISGEGS.Web/Service References/ReporteSistemasWCF/ReporteSistemasWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReporteSistemasWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/ReporteSistemasWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/ReporteSistemasWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/ReporteSistemasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporteSistemasWCF_AuditoriaMenu_Reporte_InputMessage">
    <wsdl:part name="parameters" element="tns:AuditoriaMenu_Reporte" />
  </wsdl:message>
  <wsdl:message name="IReporteSistemasWCF_AuditoriaMenu_Reporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuditoriaMenu_ReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteSistemasWCF_ListarControlFacturasMaximo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarControlFacturasMaximo" />
  </wsdl:message>
  <wsdl:message name="IReporteSistemasWCF_ListarControlFacturasMaximo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarControlFacturasMaximoResponse" />
  </wsdl:message>
  <wsdl:portType name="IReporteSistemasWCF">
    <wsdl:operation name="AuditoriaMenu_Reporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteSistemasWCF/AuditoriaMenu_Reporte" message="tns:IReporteSistemasWCF_AuditoriaMenu_Reporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteSistemasWCF/AuditoriaMenu_ReporteResponse" message="tns:IReporteSistemasWCF_AuditoriaMenu_Reporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarControlFacturasMaximo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteSistemasWCF/ListarControlFacturasMaximo" message="tns:IReporteSistemasWCF_ListarControlFacturasMaximo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteSistemasWCF/ListarControlFacturasMaximoResponse" message="tns:IReporteSistemasWCF_ListarControlFacturasMaximo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReporteSistemasWCF" type="tns:IReporteSistemasWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuditoriaMenu_Reporte">
      <soap:operation soapAction="http://tempuri.org/IReporteSistemasWCF/AuditoriaMenu_Reporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarControlFacturasMaximo">
      <soap:operation soapAction="http://tempuri.org/IReporteSistemasWCF/ListarControlFacturasMaximo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReporteSistemasWCF">
    <wsdl:port name="BasicHttpBinding_IReporteSistemasWCF" binding="tns:BasicHttpBinding_IReporteSistemasWCF">
      <soap:address location="http://localhost:49648/ReporteSistemasWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>