GS.SISGEGS.Web/Service References/TipoContratoWCF/TipoContratoWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoContrato_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoContrato_ListarResult" nillable="true" type="tns:TipoContrato_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoContrato_ListarResult" nillable="true" type="tns:ArrayOfTipoContrato_ListarResult" />
  <xs:complexType name="TipoContrato_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoContrato" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoContrato_ListarResult" nillable="true" type="tns:TipoContrato_ListarResult" />
</xs:schema>