GS.SISGEGS.Web/Service References/PerfilWCF/PerfilWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PerfilWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/PerfilWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/PerfilWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/PerfilWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerfilWCF_Perfil_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_Listar" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_Buscar" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_Eliminar" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_Registrar" />
  </wsdl:message>
  <wsdl:message name="IPerfilWCF_Perfil_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Perfil_RegistrarResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerfilWCF">
    <wsdl:operation name="Perfil_Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_Listar" message="tns:IPerfilWCF_Perfil_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_ListarResponse" message="tns:IPerfilWCF_Perfil_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Perfil_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_Buscar" message="tns:IPerfilWCF_Perfil_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_BuscarResponse" message="tns:IPerfilWCF_Perfil_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Perfil_Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_Eliminar" message="tns:IPerfilWCF_Perfil_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_EliminarResponse" message="tns:IPerfilWCF_Perfil_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Perfil_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_Registrar" message="tns:IPerfilWCF_Perfil_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilWCF/Perfil_RegistrarResponse" message="tns:IPerfilWCF_Perfil_Registrar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerfilWCF" type="tns:IPerfilWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Perfil_Listar">
      <soap:operation soapAction="http://tempuri.org/IPerfilWCF/Perfil_Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Perfil_Buscar">
      <soap:operation soapAction="http://tempuri.org/IPerfilWCF/Perfil_Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Perfil_Eliminar">
      <soap:operation soapAction="http://tempuri.org/IPerfilWCF/Perfil_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Perfil_Registrar">
      <soap:operation soapAction="http://tempuri.org/IPerfilWCF/Perfil_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerfilWCF">
    <wsdl:port name="BasicHttpBinding_IPerfilWCF" binding="tns:BasicHttpBinding_IPerfilWCF">
      <soap:address location="http://localhost:49648/PerfilWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>