GS.SISGEGS.Web/Service References/PerfilWCF/PerfilWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerfil_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Perfil_ListarResult" nillable="true" type="tns:Perfil_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfil_ListarResult" nillable="true" type="tns:ArrayOfPerfil_ListarResult" />
  <xs:complexType name="Perfil_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="aprobarDevolucionSol1" type="xs:boolean" />
      <xs:element minOccurs="0" name="aprobarPlanilla0" type="xs:boolean" />
      <xs:element minOccurs="0" name="aprobarPlanilla1" type="xs:boolean" />
      <xs:element minOccurs="0" name="eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaModifico" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioModifico" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioRegistro" type="xs:int" />
      <xs:element minOccurs="0" name="modificarPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="revisarPlanilla" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil_ListarResult" nillable="true" type="tns:Perfil_ListarResult" />
  <xs:complexType name="Perfil_BuscarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="nombrePerfil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil_BuscarResult" nillable="true" type="tns:Perfil_BuscarResult" />
</xs:schema>