GS.SISGEGS.WINServ/Service References/ContratosWCF/ContratosWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReporteGeneralContratosResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReporteGeneralContratosResult" nillable="true" type="tns:ReporteGeneralContratosResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReporteGeneralContratosResult" nillable="true" type="tns:ArrayOfReporteGeneralContratosResult" />
  <xs:complexType name="ReporteGeneralContratosResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contratante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSuscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjetoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renovacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renovar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreMateria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteGeneralContratosResult" nillable="true" type="tns:ReporteGeneralContratosResult" />
  <xs:complexType name="ArrayOfContratosVencer_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContratosVencer_ListarResult" nillable="true" type="tns:ContratosVencer_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContratosVencer_ListarResult" nillable="true" type="tns:ArrayOfContratosVencer_ListarResult" />
  <xs:complexType name="ContratosVencer_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contratante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSuscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjetoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renovacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renovar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreMateria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratosVencer_ListarResult" nillable="true" type="tns:ContratosVencer_ListarResult" />
</xs:schema>