GS.SISGEGS.WINServ/Service References/ContratosWCF/ContratosWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/ContratosWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="ReporteGeneralContratos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Area" type="xs:int" />
        <xs:element minOccurs="0" name="idMateria" type="xs:int" />
        <xs:element minOccurs="0" name="idTipo" type="xs:int" />
        <xs:element minOccurs="0" name="idProveedor" type="xs:int" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReporteGeneralContratosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ReporteGeneralContratosResult" nillable="true" type="q1:ArrayOfReporteGeneralContratosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContratosVencer_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Area" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContratosVencer_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ContratosVencer_ListarResult" nillable="true" type="q2:ArrayOfContratosVencer_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>