GS.SISGEGS.Web/Service References/IndicadoresWCF/IndicadoresWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/IndicadoresWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Indicadores_CreditosCobranzas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
        <xs:element minOccurs="0" name="divisor" type="xs:int" />
        <xs:element minOccurs="0" name="verTodo" type="xs:int" />
        <xs:element minOccurs="0" name="verCartera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_CreditosCobranzasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Indicadores_CreditosCobranzasResult" nillable="true" type="q1:ArrayOfgsReporte_IndicadoresCreditosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_LetrasRenyRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechaCorte" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_LetrasRenyRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Indicadores_LetrasRenyRefResult" nillable="true" type="q2:ArrayOfGS_ReporteLtasREF_RENOVResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_LetrasProtestadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_LetrasProtestadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Indicadores_LetrasProtestadasResult" nillable="true" type="q3:ArrayOfGS_ReporteIndicadorLetrasProtestadasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_DeudaVencida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
        <xs:element minOccurs="0" name="divisor" type="xs:int" />
        <xs:element minOccurs="0" name="verTodo" type="xs:int" />
        <xs:element minOccurs="0" name="verCartera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_DeudaVencidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Indicadores_DeudaVencidaResult" nillable="true" type="q4:ArrayOfgsReporte_IndicadoresDeudaVencidaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_DeudaVencidaCreditoAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
        <xs:element minOccurs="0" name="divisor" type="xs:int" />
        <xs:element minOccurs="0" name="verTodo" type="xs:int" />
        <xs:element minOccurs="0" name="verCartera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Indicadores_DeudaVencidaCreditoActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Indicadores_DeudaVencidaCreditoActResult" nillable="true" type="q5:ArrayOfgsReporte_IndicadoresDeudaVencCreditoActResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>