GS.SISGEGS.Web/Service References/IndicadoresWCF/IndicadoresWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IndicadoresWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/IndicadoresWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/IndicadoresWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/IndicadoresWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIndicadoresWCF_Indicadores_CreditosCobranzas_InputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_CreditosCobranzas" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_CreditosCobranzas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_CreditosCobranzasResponse" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_LetrasRenyRef_InputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_LetrasRenyRef" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_LetrasRenyRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_LetrasRenyRefResponse" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_LetrasProtestadas_InputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_LetrasProtestadas" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_LetrasProtestadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_LetrasProtestadasResponse" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_DeudaVencida_InputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_DeudaVencida" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_DeudaVencida_OutputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_DeudaVencidaResponse" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_DeudaVencidaCreditoAct_InputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_DeudaVencidaCreditoAct" />
  </wsdl:message>
  <wsdl:message name="IIndicadoresWCF_Indicadores_DeudaVencidaCreditoAct_OutputMessage">
    <wsdl:part name="parameters" element="tns:Indicadores_DeudaVencidaCreditoActResponse" />
  </wsdl:message>
  <wsdl:portType name="IIndicadoresWCF">
    <wsdl:operation name="Indicadores_CreditosCobranzas">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_CreditosCobranzas" message="tns:IIndicadoresWCF_Indicadores_CreditosCobranzas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_CreditosCobranzasResponse" message="tns:IIndicadoresWCF_Indicadores_CreditosCobranzas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Indicadores_LetrasRenyRef">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_LetrasRenyRef" message="tns:IIndicadoresWCF_Indicadores_LetrasRenyRef_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_LetrasRenyRefResponse" message="tns:IIndicadoresWCF_Indicadores_LetrasRenyRef_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Indicadores_LetrasProtestadas">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_LetrasProtestadas" message="tns:IIndicadoresWCF_Indicadores_LetrasProtestadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_LetrasProtestadasResponse" message="tns:IIndicadoresWCF_Indicadores_LetrasProtestadas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Indicadores_DeudaVencida">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_DeudaVencida" message="tns:IIndicadoresWCF_Indicadores_DeudaVencida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_DeudaVencidaResponse" message="tns:IIndicadoresWCF_Indicadores_DeudaVencida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Indicadores_DeudaVencidaCreditoAct">
      <wsdl:input wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_DeudaVencidaCreditoAct" message="tns:IIndicadoresWCF_Indicadores_DeudaVencidaCreditoAct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIndicadoresWCF/Indicadores_DeudaVencidaCreditoActResponse" message="tns:IIndicadoresWCF_Indicadores_DeudaVencidaCreditoAct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIndicadoresWCF" type="tns:IIndicadoresWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Indicadores_CreditosCobranzas">
      <soap:operation soapAction="http://tempuri.org/IIndicadoresWCF/Indicadores_CreditosCobranzas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Indicadores_LetrasRenyRef">
      <soap:operation soapAction="http://tempuri.org/IIndicadoresWCF/Indicadores_LetrasRenyRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Indicadores_LetrasProtestadas">
      <soap:operation soapAction="http://tempuri.org/IIndicadoresWCF/Indicadores_LetrasProtestadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Indicadores_DeudaVencida">
      <soap:operation soapAction="http://tempuri.org/IIndicadoresWCF/Indicadores_DeudaVencida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Indicadores_DeudaVencidaCreditoAct">
      <soap:operation soapAction="http://tempuri.org/IIndicadoresWCF/Indicadores_DeudaVencidaCreditoAct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IndicadoresWCF">
    <wsdl:port name="BasicHttpBinding_IIndicadoresWCF" binding="tns:BasicHttpBinding_IIndicadoresWCF">
      <soap:address location="http://localhost:49648/IndicadoresWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>