GS.SISGEGS.Web/Service References/EmpresaWCF/EmpresaWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpresa_ComboBoxResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa_ComboBoxResult" nillable="true" type="tns:Empresa_ComboBoxResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa_ComboBoxResult" nillable="true" type="tns:ArrayOfEmpresa_ComboBoxResult" />
  <xs:complexType name="Empresa_ComboBoxResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="baseDatos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoRHPlus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa_ComboBoxResult" nillable="true" type="tns:Empresa_ComboBoxResult" />
  <xs:complexType name="ArrayOfEmpresa_BuscarDetalleResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa_BuscarDetalleResult" nillable="true" type="tns:Empresa_BuscarDetalleResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa_BuscarDetalleResult" nillable="true" type="tns:ArrayOfEmpresa_BuscarDetalleResult" />
  <xs:complexType name="Empresa_BuscarDetalleResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="baseDatos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="logotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa_BuscarDetalleResult" nillable="true" type="tns:Empresa_BuscarDetalleResult" />
  <xs:complexType name="ArrayOfEmpresa_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa_ListarResult" nillable="true" type="tns:Empresa_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa_ListarResult" nillable="true" type="tns:ArrayOfEmpresa_ListarResult" />
  <xs:complexType name="Empresa_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Provision" type="xs:decimal" />
      <xs:element minOccurs="0" name="baseDatos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="logotipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa_ListarResult" nillable="true" type="tns:Empresa_ListarResult" />
</xs:schema>