GS.SISGEGS.Web/Service References/UnidadWCF/UnidadWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBG02665Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG02665Result" nillable="true" type="tns:VBG02665Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG02665Result" nillable="true" type="tns:ArrayOfVBG02665Result" />
  <xs:complexType name="VBG02665Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_UnidadGestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imputable" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadGestion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG02665Result" nillable="true" type="tns:VBG02665Result" />
  <xs:complexType name="ArrayOfVBG02668Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG02668Result" nillable="true" type="tns:VBG02668Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG02668Result" nillable="true" type="tns:ArrayOfVBG02668Result" />
  <xs:complexType name="VBG02668Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_UnidadProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imputable" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadProyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG02668Result" nillable="true" type="tns:VBG02668Result" />
</xs:schema>