GS.SISGEGS.Web/Service References/DireccionWCF/DireccionWCF4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/DireccionWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Direccion_ListarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Direccion_ListarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Direccion_ListarClienteResult" nillable="true" type="q1:ArrayOfVBG00209Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Direccion_ListarReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSucursal" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idReferencia" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Direccion_ListarReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Direccion_ListarReferenciaResult" nillable="true" type="q2:ArrayOfVBG03679Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>