GS.SISGEGS.Web/Service References/LetrasEmitidasWCF/LetrasEmitidasWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/LetrasEmitidasWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="LetrasEmitidas_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opFinan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="LetrasEmitidas_ListarResult" nillable="true" type="q1:ArrayOfgsLetrasEmitidas_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_Cabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="opFinan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_CabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="LetrasEmitidas_CabeceraResult" nillable="true" type="q2:ArrayOfgsLetrasEmitidas_CabeceraResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_Documentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="opFinan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_DocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="LetrasEmitidas_DocumentosResult" nillable="true" type="q3:ArrayOfgsLetrasEmitidas_DocumentosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_Letras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="opFinan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasEmitidas_LetrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="LetrasEmitidas_LetrasResult" nillable="true" type="q4:ArrayOfgsLetrasEmitidas_LetrasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoLetras_NumerosUnicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoLetras_NumerosUnicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ProcesoLetras_NumerosUnicosResult" nillable="true" type="q5:ArrayOfgsProcesoLetras_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumerosUnicos_RegistrarBulkCopy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="tabla" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumerosUnicos_RegistrarBulkCopyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoLetras_NumerosUnicos_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
        <xs:element minOccurs="0" name="dia" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoLetras_NumerosUnicos_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcesoLetras_NumerosUnicos_InsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumerosUnicos_Registrar_Proceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumerosUnicos_Registrar_ProcesoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoLetras_NumerosUnicos_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_proceso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesoLetras_NumerosUnicos_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ProcesoLetras_NumerosUnicos_ListarResult" nillable="true" type="q6:ArrayOfgsNumerosUnicos_ListarExportarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasElectronicas_Individual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_Letra" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasElectronicas_IndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="LetrasElectronicas_IndividualResult" nillable="true" type="q7:ArrayOfVBG01425Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasElectronicas_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_OP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LetrasElectronicas_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="LetrasElectronicas_ListarResult" nillable="true" type="q8:ArrayOfgsLetrasElectronicas_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_LogLetrasDescargadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idletra" type="xs:int" />
        <xs:element minOccurs="0" name="usuariointranet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Op_DocVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_LogLetrasDescargadasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CanjeAutomaticoLetras_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanjeAutomaticoLetras_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="CanjeAutomaticoLetras_ListarResult" nillable="true" type="q9:ArrayOfUSP_SEL_Canje_Automatico_LetrasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanjeAutomaticoLetras_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_Letra" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanjeAutomaticoLetras_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanjeAutomaticoLetras_RegistrarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Financiamiento_CA_Letras_General">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Financiamiento_CA_Letras_GeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Financiamiento_CA_Letras_GeneralResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estado_Letras_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Estado_Letras_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Estado_Letras_ListarResult" nillable="true" type="q10:ArrayOfUSP_SEL_Estado_LetrasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Porcentaje_Avance_Letras_Lista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Porcentaje_Avance_Letras_ListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Porcentaje_Avance_Letras_ListaResult" nillable="true" type="q11:ArrayOfUSP_SEL_Porcentaje_Avance_LetrasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Porcentaje_Avance_Letras_Lista_x_Zonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Porcentaje_Avance_Letras_Lista_x_ZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Porcentaje_Avance_Letras_Lista_x_ZonasResult" nillable="true" type="q12:ArrayOfUSP_SEL_Porcentaje_Avance_Letras_ZonasResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>