SISGEGS/GS.SISGEGS.Web/Service References/DespachoWCF/DespachoWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBG03629Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG03629Result" nillable="true" type="tns:VBG03629Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG03629Result" nillable="true" type="tns:ArrayOfVBG03629Result" />
  <xs:complexType name="VBG03629Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG03629Result" nillable="true" type="tns:VBG03629Result" />
</xs:schema>