GS.SISGEGS.WINCreditos/GS.SISGEGS.WINCreditos/Service References/EstadoCuentaWCF/EstadoCuentaWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/EstadoCuentaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="EstadoCuenta_ListarxCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarxClienteResult" nillable="true" type="q1:ArrayOfgsReporte_DocumentosPendientesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_LimiteCreditoxCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_LimiteCreditoxClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_LimiteCreditoxClienteResult" nillable="true" type="q2:ArrayOfgsAgendaCliente_BuscarLimiteCreditoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarResumenCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarResumenClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarResumenClienteResult" nillable="true" type="q3:ArrayOfgsReporte_DocumentosPendientesResumenClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarResumenVendedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarResumenVendedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarResumenVendedorResult" nillable="true" type="q4:ArrayOfgsReporte_DocumentosPendientesResumenVendedorResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarResumenTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarResumenTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarResumenTotalResult" nillable="true" type="q5:ArrayOfgsReporte_DeudaVencidaTotalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VentasDiasCobranza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VentasDiasCobranzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_VentasDiasCobranzaResult" nillable="true" type="q6:ArrayOfgsReporteVentasxDiasCobranzaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VencidosMes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VencidosMesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_VencidosMesResult" nillable="true" type="q7:ArrayOfgsReporteVencidosPorMesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VencidosMesCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VencidosMesClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_VencidosMesClienteResult" nillable="true" type="q8:ArrayOfgsReporteVencidosPorMesClienteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VencidosMesDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_vendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_VencidosMesDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_VencidosMesDetalleResult" nillable="true" type="q9:ArrayOfgsReporteVencidosPorMesDetalleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxCliente_Proyectado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxCliente_ProyectadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarxCliente_ProyectadoResult" nillable="true" type="q10:ArrayOfgsReporte_DocumentosPendientes_ProyectadoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxBI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxBIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarxBIResult" nillable="true" type="q11:ArrayOfgsEstadoCuenta_MesBIResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxClienteBI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaVencimientoFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vencidos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ListarxClienteBIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ListarxClienteBIResult" nillable="true" type="q12:ArrayOfgsReporte_DocumentosPendientesBIResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ReporteProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaEmisionFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoCuenta_ReporteProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="EstadoCuenta_ReporteProveedorResult" nillable="true" type="q13:ArrayOfVBG00062_PROVEEDORResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>