SISGEGS/GS.SISGEGS.Web/Service References/DocumentoWCF/DocumentoWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBG00716Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG00716Result" nillable="true" type="tns:VBG00716Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG00716Result" nillable="true" type="tns:ArrayOfVBG00716Result" />
  <xs:complexType name="VBG00716Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG00716Result" nillable="true" type="tns:VBG00716Result" />
  <xs:complexType name="ArrayOfgsDocumento_ListarTipoCompraResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsDocumento_ListarTipoCompraResult" nillable="true" type="tns:gsDocumento_ListarTipoCompraResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsDocumento_ListarTipoCompraResult" nillable="true" type="tns:ArrayOfgsDocumento_ListarTipoCompraResult" />
  <xs:complexType name="gsDocumento_ListarTipoCompraResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsDocumento_ListarTipoCompraResult" nillable="true" type="tns:gsDocumento_ListarTipoCompraResult" />
  <xs:complexType name="ArrayOfVBG01122Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG01122Result" nillable="true" type="tns:VBG01122Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG01122Result" nillable="true" type="tns:ArrayOfVBG01122Result" />
  <xs:complexType name="VBG01122Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTC" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG01122Result" nillable="true" type="tns:VBG01122Result" />
</xs:schema>