GS.SISGEGS.Web/Service References/OrdenCompraWCF/OrdenCompraWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/OrdenCompraWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:import schemaLocation="http://localhost:49648/OrdenCompraWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" />
  <xs:element name="OrdenCompraListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="ID_Agenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EstadoAprobacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdenCompraListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="OrdenCompraListarResult" nillable="true" type="q1:ArrayOfVBG00536XResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Anular_OC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="OP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Anular_OCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOcImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechainicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechafinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nombreproveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOcImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="ListarOcImportacionResult" nillable="true" type="q2:ArrayOfUSP_Sel_OCResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_OC_OP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_OC_OPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_OC_OPResult" nillable="true" type="q3:ArrayOfUSP_Sel_OC_OpResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_OC_OPLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_OC_OPLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_OC_OPLineaResult" nillable="true" type="q4:ArrayOfUSP_Sel_OC_OpLineaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_OC_OpParcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_OC_OpParcialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_OC_OpParcialResult" nillable="true" type="q5:ArrayOfUSP_Sel_OC_OpParcialResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Oc_Parcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="CabOcParcial" nillable="true" type="q6:ArrayOfUSP_Sel_Genesys_OC_ImpResult" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DetOcparcial" nillable="true" type="q7:ArrayOfUSP_Sel_Genesys_OC_ImpLineaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Oc_ParcialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Oc_Parcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="op_oc" type="xs:int" />
        <xs:element minOccurs="0" name="No_RegistroParcial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Oc_ParcialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Oc_ParcialLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="op_oc" type="xs:int" />
        <xs:element minOccurs="0" name="No_RegistroParcial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_Oc_ParcialLineaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_SeguimientoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechainicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechafinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nombreproveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaingresoini" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaingresofin" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_SeguimientoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_GenesysOC_SeguimientoListaResult" nillable="true" type="q8:ArrayOfUSP_Sel_Genesys_Oc_SegImpResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_ImpParciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="fechainicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechafinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nombreproveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id_SegImp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_ImpParcialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_GenesysOC_ImpParcialesResult" nillable="true" type="q9:ArrayOfUSP_Sel_Genesys_OC_Imp_SeleccionarOCResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_Estados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_EstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_GenesysOC_EstadosResult" nillable="true" type="q10:ArrayOfUSP_Sel_Genesys_OC_EstadoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_TipoVia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_TipoViaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_GenesysOC_TipoViaResult" nillable="true" type="q11:ArrayOfUSP_Sel_Genesys_OC_TipoViaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_SegImp_IdSeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idSeg" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_SegImp_IdSegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_GenesysOC_SegImp_IdSegResult" nillable="true" type="q12:ArrayOfUSP_Sel_Genesys_Oc_SegImp_IdSegResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_OcImp_IdSeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="idSeg" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seleccionar_GenesysOC_OcImp_IdSegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Seleccionar_GenesysOC_OcImp_IdSegResult" nillable="true" type="q13:ArrayOfUSP_Sel_Genesys_OC_Imp_SeleccionarOC_IdSegResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_Seguimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="CabSeguimiento" nillable="true" type="q14:USP_Sel_Genesys_OC_ImpSegEntidadResult" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" minOccurs="0" name="DetSeguimiento" nillable="true" type="q15:ArrayOfOrdenCompraSeguimientoBE" />
        <xs:element minOccurs="0" name="Id_SegImp" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_SeguimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_SegImp" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_OcImp_Seguimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_seguimiento" type="xs:int" />
        <xs:element minOccurs="0" name="No_RegistroParcial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Op_OC" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_OcImp_SeguimientoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_OcImpSeg_Liquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_seguimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrar_OcImpSeg_LiquidacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosSegImportacion_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_seguimiento" type="xs:int" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosSegImportacion_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosSegImportacion_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_seguimiento" type="xs:int" />
        <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosSegImportacion_EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosSegImportacion_Seleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="id_seguimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentosSegImportacion_SeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="DocumentosSegImportacion_SeleccionarResult" nillable="true" type="q16:ArrayOfUSP_SEL_DocumentosSegImportacionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>