GS.SISGEGS.Web/Service References/VarianteWCF/VarianteWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://intranet.gruposilvestre.com.pe/WCFServices/VarianteWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Variante_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoVariante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Variante_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Variante_BuscarResult" nillable="true" type="q1:Variante_BuscarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>