GS.SISGEGS.Web/Service References/ItemWCF/ItemWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMantenimientoProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MantenimientoProductos" nillable="true" type="tns:MantenimientoProductos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMantenimientoProductos" nillable="true" type="tns:ArrayOfMantenimientoProductos" />
  <xs:complexType name="MantenimientoProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgendaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaVigFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVigInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Agenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_UnidadInv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kardex" type="xs:int" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreKardex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioEspecial" type="xs:double" />
      <xs:element minOccurs="0" name="SinTermino" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MantenimientoProductos" nillable="true" type="tns:MantenimientoProductos" />
</xs:schema>