GS.SISGEGS.Web/Service References/AreaWCF/AreaWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/AreaWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Listar_Areas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar_AreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Listar_AreasResult" nillable="true" type="q1:ArrayOfgsArea_ListarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>