GS.SISGEGS.Web/Service References/AreaWCF/AreaWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgsArea_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsArea_ListarResult" nillable="true" type="tns:gsArea_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsArea_ListarResult" nillable="true" type="tns:ArrayOfgsArea_ListarResult" />
  <xs:complexType name="gsArea_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Area" type="xs:decimal" />
      <xs:element minOccurs="0" name="NomArea" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsArea_ListarResult" nillable="true" type="tns:gsArea_ListarResult" />
</xs:schema>