GS.SISGEGS.WINServ/Service References/MarcasWCF/MarcasWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTitularMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitularMarca_ListarResult" nillable="true" type="tns:TitularMarca_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitularMarca_ListarResult" nillable="true" type="tns:ArrayOfTitularMarca_ListarResult" />
  <xs:complexType name="TitularMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTitular" type="xs:int" />
      <xs:element minOccurs="0" name="nombreTitular" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitularMarca_ListarResult" nillable="true" type="tns:TitularMarca_ListarResult" />
  <xs:complexType name="ArrayOfRegistroMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistroMarca_ListarResult" nillable="true" type="tns:RegistroMarca_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistroMarca_ListarResult" nillable="true" type="tns:ArrayOfRegistroMarca_ListarResult" />
  <xs:complexType name="RegistroMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbrevTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="certificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTitular" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistroMarca_ListarResult" nillable="true" type="tns:RegistroMarca_ListarResult" />
  <xs:complexType name="ArrayOfTipoMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoMarca_ListarResult" nillable="true" type="tns:TipoMarca_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoMarca_ListarResult" nillable="true" type="tns:ArrayOfTipoMarca_ListarResult" />
  <xs:complexType name="TipoMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbrevTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMarca_ListarResult" nillable="true" type="tns:TipoMarca_ListarResult" />
  <xs:complexType name="ArrayOfPais_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pais_ListarResult" nillable="true" type="tns:Pais_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPais_ListarResult" nillable="true" type="tns:ArrayOfPais_ListarResult" />
  <xs:complexType name="Pais_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPais" type="xs:int" />
      <xs:element minOccurs="0" name="nombrePais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pais_ListarResult" nillable="true" type="tns:Pais_ListarResult" />
  <xs:complexType name="ArrayOfMarca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marca_ListarResult" nillable="true" type="tns:Marca_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarca_ListarResult" nillable="true" type="tns:ArrayOfMarca_ListarResult" />
  <xs:complexType name="Marca_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaModifico" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioModifico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuarioRegistro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nombreMarca" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca_ListarResult" nillable="true" type="tns:Marca_ListarResult" />
  <xs:complexType name="ArrayOfResponsablesRegistros_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponsablesRegistros_ListarResult" nillable="true" type="tns:ResponsablesRegistros_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponsablesRegistros_ListarResult" nillable="true" type="tns:ArrayOfResponsablesRegistros_ListarResult" />
  <xs:complexType name="ResponsablesRegistros_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Area" type="xs:int" />
      <xs:element minOccurs="0" name="Responsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correoResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idResponsable" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponsablesRegistros_ListarResult" nillable="true" type="tns:ResponsablesRegistros_ListarResult" />
  <xs:complexType name="ArrayOfRegistroMarca_NotificacionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistroMarca_NotificacionResult" nillable="true" type="tns:RegistroMarca_NotificacionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistroMarca_NotificacionResult" nillable="true" type="tns:ArrayOfRegistroMarca_NotificacionResult" />
  <xs:complexType name="RegistroMarca_NotificacionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbrevTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasPorVencer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="certificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idRegistroMarca" type="xs:int" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTitular" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistroMarca_NotificacionResult" nillable="true" type="tns:RegistroMarca_NotificacionResult" />
</xs:schema>