GS.SISGEGS.WINComision/Service References/ComisionWCF/ComisionWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComisionWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49648/ComisionWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49648/ComisionWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49648/ComisionWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComisionWCF_Reporte_Cancelaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:Reporte_Cancelaciones" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Reporte_Cancelaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:Reporte_CancelacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Personal_ListarTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:Personal_ListarTotal" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Personal_ListarTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:Personal_ListarTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Personal_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Personal_Buscar" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Personal_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Personal_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Personal_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Personal_Registrar" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_Personal_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Personal_RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_gsReporteCanceladosVentasLista_InputMessage">
    <wsdl:part name="parameters" element="tns:gsReporteCanceladosVentasLista" />
  </wsdl:message>
  <wsdl:message name="IComisionWCF_gsReporteCanceladosVentasLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:gsReporteCanceladosVentasListaResponse" />
  </wsdl:message>
  <wsdl:portType name="IComisionWCF">
    <wsdl:operation name="Reporte_Cancelaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IComisionWCF/Reporte_Cancelaciones" message="tns:IComisionWCF_Reporte_Cancelaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComisionWCF/Reporte_CancelacionesResponse" message="tns:IComisionWCF_Reporte_Cancelaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Personal_ListarTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IComisionWCF/Personal_ListarTotal" message="tns:IComisionWCF_Personal_ListarTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComisionWCF/Personal_ListarTotalResponse" message="tns:IComisionWCF_Personal_ListarTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Personal_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IComisionWCF/Personal_Buscar" message="tns:IComisionWCF_Personal_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComisionWCF/Personal_BuscarResponse" message="tns:IComisionWCF_Personal_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Personal_Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IComisionWCF/Personal_Registrar" message="tns:IComisionWCF_Personal_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComisionWCF/Personal_RegistrarResponse" message="tns:IComisionWCF_Personal_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gsReporteCanceladosVentasLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IComisionWCF/gsReporteCanceladosVentasLista" message="tns:IComisionWCF_gsReporteCanceladosVentasLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComisionWCF/gsReporteCanceladosVentasListaResponse" message="tns:IComisionWCF_gsReporteCanceladosVentasLista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComisionWCF" type="tns:IComisionWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reporte_Cancelaciones">
      <soap:operation soapAction="http://tempuri.org/IComisionWCF/Reporte_Cancelaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Personal_ListarTotal">
      <soap:operation soapAction="http://tempuri.org/IComisionWCF/Personal_ListarTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Personal_Buscar">
      <soap:operation soapAction="http://tempuri.org/IComisionWCF/Personal_Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Personal_Registrar">
      <soap:operation soapAction="http://tempuri.org/IComisionWCF/Personal_Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gsReporteCanceladosVentasLista">
      <soap:operation soapAction="http://tempuri.org/IComisionWCF/gsReporteCanceladosVentasLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComisionWCF">
    <wsdl:port name="BasicHttpBinding_IComisionWCF" binding="tns:BasicHttpBinding_IComisionWCF">
      <soap:address location="http://localhost:49648/ComisionWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>