GS.SISGEGS.WINComision/Service References/ComisionWCF/ComisionWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/ComisionWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" />
  <xs:element name="Reporte_Cancelaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codAgenda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codVendedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reporte_CancelacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Reporte_CancelacionesResult" nillable="true" type="q1:ArrayOfgsReporteCanceladosResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_ListarTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_ListarTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Personal_ListarTotalResult" nillable="true" type="q2:ArrayOfPersonal_ListarTotalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="Personal_BuscarResult" nillable="true" type="q3:ArrayOfPersonal_BuscarResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersonal" type="xs:int" />
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuarioRegistro" type="xs:int" />
        <xs:element minOccurs="0" name="codigoEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCargo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="porcentaje" type="xs:decimal" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personal_RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="gsReporteCanceladosVentasLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gsReporteCanceladosVentasListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" minOccurs="0" name="gsReporteCanceladosVentasListaResult" nillable="true" type="q4:ArrayOfgsReporteCanceladosVentasListaResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>