GS.SISGEGS.WINComision/Service References/ComisionWCF/ComisionWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfgsReporteCanceladosResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsReporteCanceladosResult" nillable="true" type="tns:gsReporteCanceladosResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsReporteCanceladosResult" nillable="true" type="tns:ArrayOfgsReporteCanceladosResult" />
  <xs:complexType name="gsReporteCanceladosResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanceladoDolares" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CanceladoSoles" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CtaCte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasMora" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAplicado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCobranza" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Glosa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Doc" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID_Vendedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Zona" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Moneda" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id_TipoDoc" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id_TipoPago" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteCancelado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreTipoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Op" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PagadoDolares" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TC" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TablaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsReporteCanceladosResult" nillable="true" type="tns:gsReporteCanceladosResult" />
  <xs:complexType name="ArrayOfPersonal_ListarTotalResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Personal_ListarTotalResult" nillable="true" type="tns:Personal_ListarTotalResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonal_ListarTotalResult" nillable="true" type="tns:ArrayOfPersonal_ListarTotalResult" />
  <xs:complexType name="Personal_ListarTotalResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmpresaGys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmpresaRH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comision" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:decimal" />
      <xs:element minOccurs="0" name="id_zona" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personal_ListarTotalResult" nillable="true" type="tns:Personal_ListarTotalResult" />
  <xs:complexType name="ArrayOfPersonal_BuscarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Personal_BuscarResult" nillable="true" type="tns:Personal_BuscarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonal_BuscarResult" nillable="true" type="tns:ArrayOfPersonal_BuscarResult" />
  <xs:complexType name="Personal_BuscarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmpresaGys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodEmpresaRH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comision" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:decimal" />
      <xs:element minOccurs="0" name="id_zona" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="porcentaje" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personal_BuscarResult" nillable="true" type="tns:Personal_BuscarResult" />
  <xs:complexType name="ArrayOfgsReporteCanceladosVentasListaResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="gsReporteCanceladosVentasListaResult" nillable="true" type="tns:gsReporteCanceladosVentasListaResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgsReporteCanceladosVentasListaResult" nillable="true" type="tns:ArrayOfgsReporteCanceladosVentasListaResult" />
  <xs:complexType name="gsReporteCanceladosVentasListaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadRegistros" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gsReporteCanceladosVentasListaResult" nillable="true" type="tns:gsReporteCanceladosVentasListaResult" />
</xs:schema>