GS.SISGEGS.Web/Service References/MateriaContratoWCF/MateriaContratoWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMateriaContrato_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MateriaContrato_ListarResult" nillable="true" type="tns:MateriaContrato_ListarResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMateriaContrato_ListarResult" nillable="true" type="tns:ArrayOfMateriaContrato_ListarResult" />
  <xs:complexType name="MateriaContrato_ListarResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMateriaContrato" type="xs:int" />
      <xs:element minOccurs="0" name="nombreMateria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MateriaContrato_ListarResult" nillable="true" type="tns:MateriaContrato_ListarResult" />
</xs:schema>