SISGEGS/GS.SISGEGS.Web/Service References/NaturalezaGastoWCF/NaturalezaGastoWCF32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GS.SISGEGS.DM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVBG03096Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VBG03096Result" nillable="true" type="tns:VBG03096Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVBG03096Result" nillable="true" type="tns:ArrayOfVBG03096Result" />
  <xs:complexType name="VBG03096Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CentroCostos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_NaturalezaGastoIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imputable" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VBG03096Result" nillable="true" type="tns:VBG03096Result" />
</xs:schema>